<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart__products">
      <% productData.forEach(product =>{ %>
        <li>
          <p><%=product.productId.title%> </p>
          <p>(Quantity:-<%=product.quantity%>)</p>
        </li>
        <% }) %>
    </ul>
    <div>
      <h2 class="centered">Total: <%= totalSum %></h2>
    </div>
    <div class="centered">
      <button id="order-btn" class="btn">Order Now</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const stripe = Stripe('pk_test_51NrbpVSFh46LMoF6lh2Xzo8jci3YZsNlt7itlR0UpFKmHxCCqoINS5C33LZeS7hPOlTKMDLOc1MzrQ94PkwsqU2z00ZVsGDZ8b')
        const orderBtn = document.getElementById('order-btn')
        orderBtn.addEventListener('click', function() {
          stripe.redirectToCheckout({
            sessionId:'<%= sessionId %>'
          })
        })
      </script>
    </div>

  </main>
  
<%- include('../includes/end.ejs') %>