<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <% if(errorMessage){ %>
<div class="user-message user-message--error">
  <%= errorMessage %>
</div>
    <% } %>
  <form class="form__control" action="/new-password" method="POST">
    <div class="details">
      <div class="password">
        <label for="password"> Password </label>
        <input id="password" type="password" name="password"/>
      </div>
    </div>
    <div>
      <div class="form__btn">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
        <input type="hidden" name="userId" value="<%= userId %>" />
      <button>Update Password</button>
    </div>
    </div>
  </form>
  <%- include('../includes/end.ejs') %>