<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/css/signup.css" />
</head>
<body>
<%- include('../includes/navigation.ejs')%>
<% if(errorMessage){ %>
  <div class="user-message user-message--error">
    <%= errorMessage %>
  </div>
      <% } %>
<form class="form__control" action="/signup" method="POST" novalidate>
  <div class="details">
    <div class="email">
      <label for="email"> Email </label>
      <input 
      class="<%= validationError.find(e=> e.path === 'email') ? 'invalid' : '' %>"
      id="email" 
      type="email" 
      name="email" 
      value="<%= oldInput.email %>" />
    </div>
    <div class="password">
      <label for="password"> Password </label>
      <input 
      class="<%= validationError.find(e=> e.path === 'password') ? 'invalid' : '' %>"
      id="password" 
      type="password" 
      name="password" 
      value="<%= oldInput.password%>"/>
    </div>
    <div class="password">
      <label for="confirm_password"> Confirm Password </label>
      <input 
      class="<%= validationError.find(e=> e.path === 'confirm_password') ? 'invalid' : '' %>"
      id="confirm_password" 
      type="password" 
      name="confirm_password" 
      value="<%= oldInput.confirmPassword %>"/>
    </div>
  </div>
  <div>
    <div class="form__btn">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button>Signup</button>
    </div>
  </div>
</form>
<%- include('../includes/end.ejs')%>
